html body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
}

/* NAVBAR LEFT "JS DOCUMENTATION" */
#navbar {
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    width: 280px;
    border-right: 3px solid #a3a1a1; 
}

#navbar header {
    font-size: 1.8em;
    padding: 15px;
}

#navbar .nav-link  {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color:#6e6e6e;
    padding: 0;
    margin-left: 30px;
}

.container-navbar {
    overflow: auto;
    height: 90%;
}


.hr-nav {
    box-sizing: border-box;
    border-top: 1px solid #4d4d4d;
}

/* CONTENT RIGHT PAGE (MAIN) */
#main-doc {
    margin-left: 280px;
    padding: 20px;
    width: 100%;
}

.main-section {
    color: #6e6e6e;
}

.main-section div{
    margin-left: 35px;;
}

.main-section header {
    font-size: 1.1em;
    margin-left: 15px;
    color: #0f0f0f;
    font-size: 1.8em;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #navbar {
        position: static;
        width: 100%;
    }

    #main-doc {
        margin-left: 0;
        width: 100%;
    }
}
